<ul class="module-sidebar-nav">
	<li class="divider"></li>
    {% for (var i=0, l= data.data.length; i < l; i++) { var item = data.data[i]; %}
	{% if ( "Hilfe" != item.label  ) { %}
	
	
    <li data-label="{%= item.label %}" class="strong module-sidebar-item">
        <a class="module-link">
            <i class="icon icon-chevron-right pull-right" style="display: none;"></i>
            <span>{%= item.label %}</span></a>
    </li>
	{% } %}
    {% } %}
</ul>
