body[data-route=""] .navbar-default,
body[data-route="desktop"] .navbar-default {
  background-color: rgba(255, 255, 255, 0.9);
  border-color: rgba(54, 65, 76, 0.1);
}
#page-desktop {
  min-width: 100%;
  margin-top: 0px;
  border: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.case-wrapper {
  position: relative;
  margin: 0px;
  float: left;
  width: 138px;
  height: 140px;
}
.case-label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5), 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.app-icon {
  padding: 20px;
  display: inline-block;
  margin: auto;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.app-icon i {
  font-size: 32px;
  min-width: 32px;
  color: #fafbfc;
  display: inline-block;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.15);
}
.app-icon svg,
.app-icon img {
  height: 32px;
  width: 32px;
}
.app-icon path {
  fill: #fafbfc;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.circle {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #fff;
background-image: linear-gradient(225deg, rgb(255, 88, 88) 50%, transparent 53%);
  padding: 0 0 0 16px;
  font-size: 12px;
  line-height: 1.5;
  text-align:center;
  min-width: 30px;
  height: 30px;
   
  
}

.circle-text{
  position:relative;
   left : -2px;
}
.app-icon:hover path {
  fill: #fff;
}
.app-icon:hover i,
.app-icon:hover {
  color: #fff;
}
.app-icon-small {
  padding: 12px;
}
.app-icon-img.app-icon-small {
  padding: 0px;
  height: 54px;
  width: 54px;
}
.app-icon-img {
  padding: 0px;
  height: 70px;
  width: 70px;
}
.app-icon-img img {
  width: 100%;
  height: 100%;
}
.rtl {
  direction: rtl;
}
#icon-grid {
  padding-top: 15px;
  padding-bottom: 30px;
  max-width: 970px;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  #icon-grid {
    max-width: 690px;
  }
}
@media (max-width: 767px) {
  #icon-grid {
    max-width: 320px;
  }
  .case-wrapper {
    width: 80px;
    height: 90px;
  }
  .case-label {
    font-size: 80%;
    font-weight: normal;
    margin-top: 7px;
  }
  .app-icon {
    padding: 10px;
    border-radius: 12px;
  }
  .app-icon i {
    font-size: 32px;
    min-width: 32px;
  }
  .app-icon svg,
  .app-icon img {
    height: 32px;
    width: 32px;
  }
  .circle {
    right: 0px;
  }
}
@media (max-width: 320px) {
  #icon-grid {
    max-width: 280px;
  }
  .case-wrapper {
    width: 70px;
    height: 90px;
  }
}
.all-applications-dialog .desktop-app-search {
  margin-bottom: 15px;
}
.all-applications-dialog hr {
  margin: 10px -15px;
}
.all-applications-dialog .checkbox {
  margin-top: 3px;
  margin-bottom: 3px;
}
.desktop-list-item {
  padding: 10px 15px;
  border-bottom: 1px solid #d1d8dd;
  cursor: pointer;
}
.desktop-list-item:hover,
.desktop-list-item:focus {
  background-color: #F7FAFC;
}
.desktop-list-item h4 {
  display: inline-block;
}
